@import "tailwindcss";

/* Base styles */
body {
  @apply bg-[#f0ebe1] text-gray-900 transition-colors duration-200;
}

/* Dark mode styles */
.dark body {
  @apply bg-[#2c3e50] text-gray-100;
}

.dark .pricingcard {
  @apply bg-yellow-400;
}

.dark .herotextset h2 span {
  @apply text-gray-300;
}

.dark .text-gray-600 {
  @apply text-gray-300;
}

.dark .bg-white {
  @apply bg-white;
}


.dark .text-gray-800 {
  @apply text-gray-200;
}

.dark .nexthero span.font-semibold {
  @apply text-yellow-500;
}

.dark .pricingcard  {
  @apply text-gray-800;
}

.dark .pricingcard ul li {
  @apply text-gray-700;
}

.dark .buttonsecondary {
  @apply text-black;
}

.custom-cursor {
  cursor: url('./assets/cursor.svg'), auto;
}

/* setting the stroke in hero text "design based" */
.gradient-stroke {
  stroke: linear-gradient(to right, #ff0000, #ff6a00); 
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-shadow: 0 0 1px #facc15, 0 0 1px #f97316; 
}

/* Add dark mode styles for other elements */
.herotextset h2 span.text-gray-700 {
    @apply dark:text-gray-300;
}

.text-gray-600 {
    @apply dark:text-gray-400;
}

.bg-white {
    @apply dark:bg-gray-800;
}

.text-gray-800 {
    @apply dark:text-gray-200;
}


::selection {
  background-color: #facc15; /* Tailwind's yellow-400 */
  color: black; /* optional - text color when selected */
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #38bdf8; /* yellow-400 */
    color: #2c3e50; /* your dark bg as text color */
  }
}


/* 
#2c3e50 -dark
#f0ebe1 -light
 */









